
.band-info {
    padding : 60px;
    max-width: 900px;
    margin : auto auto;
}

.band-info .about-band .band {
    text-align: center;
    padding : 10px;
}

.about-band {
    margin-bottom: 30px;
}

.member-pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member-pic {
    text-align: center;
    max-width : 170px;
    margin : 20px;
}

.tour-section {
    max-width: 900px;
    margin : auto;
    padding : 10px;
}

.tour-section .center-head {
    text-align: center;
    padding : 20px;
}

.tours-container-section {
    background-color : black;
}

.tour-cards {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-around;
}

.tour-card {
    max-width : 250px;
    background-color: white;
    padding : 30px;
    margin : 30px auto;
}

.contact {
    max-width: 900px;
    display : flex;
    flex-wrap: wrap;
    margin : auto;
}

.contact-child {
    max-width : 400px;
    margin : auto;
    padding : 10px;
}

.detail-icon {
    margin-right: 20px;
}

.footer-div {
    text-align: center;
    max-width : 400px;
    margin : auto;
}

.image-text {
    position: absolute;
    bottom : 10%;
    left : 45%
}

@media (max-width:900px) {
    .image-text{
        display : none;
    }
}

