.main-div {
    width : 90%;
    margin : 20px auto;
}

.blog-image {
    width : 100%;
}

.comment-count {
    padding : 10px;
    background-color: black;
    border-radius: 50%;
}

.card {
    box-shadow: 0 0 20px 8px #d0d0d0;
    margin : 50px auto;
}

.popular-post-img {
    max-width : 60px;
}

.popular-post {
    margin-bottom: 10px;
}

.card-tags {
    margin : auto 10px auto 0;
    padding : 6px;
}

.ending {
    background-color: #616161 ;
    padding : 60px;
}